@model BudgetApp.Models.Transaction
@using Microsoft.AspNet.Identity
@using BudgetApp.Models
@using BudgetApp.Helper

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Financial Surety</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="../../plugins/datatables/dataTables.bootstrap.css">
    <!-- Theme style -->
    @*<link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">*@
    <link href="~/dist/css/AdminLTE.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
    <link rel="icon" href="~/images/favicon-32x32.png" sizes="32X32" />
    <link rel="apple-touch-icon" href="/images/icons/favicon.png">

    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <link type="text/css" rel="stylesheet" href="~/styles/jquery-ui-1.10.4.custom.min.css">
    <link type="text/css" rel="stylesheet" href="~/styles/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/styles/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="~/styles/animate.css">
    <link type="text/css" rel="stylesheet" href="~/styles/all.css">
    <link type="text/css" rel="stylesheet" href="~/styles/main.css">
    <link type="text/css" rel="stylesheet" href="~/styles/style-responsive.css">
    <link type="text/css" rel="stylesheet" href="~/styles/zabuto_calendar.min.css">
    <link type="text/css" rel="stylesheet" href="~/styles/pace.css">
    <link type="text/css" rel="stylesheet" href="~/styles/jquery.news-ticker.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/dist/css/skins/_all-skins.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="index2.html" class="logo" style="background-color:#222d32">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>LT</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Financial Surety</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" id="backgroundimage" />
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">


            </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/images/money.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                                <p>
                                    @{
                                        var manager = new UserManager<ApplicationUser>(new Microsoft.AspNet.Identity.EntityFramework.UserStore<ApplicationUser>(new ApplicationDbContext()));
                                        var currentUser = manager.FindById(User.Identity.GetUserId());
                                    }
                                    @Html.ActionLink("Welcome " + currentUser.FirstName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                    <br />
                                    <br />
                                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                                </p>
                                            }
                                        }
                                        else
                                        {

                                            <p>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</p>
                                            <p>@Html.ActionLink("Login", "LogMeIn", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
                                        }
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    <li><a href="@Url.Action("DashBoard", "Home")"><i class="fa fa-dashboard"></i> <span>DashBoard</span></a></li>
                    <li><a href="@Url.Action("Index", "Accounts")"><i class="fa fa-dashboard"></i> <span>Accounts</span></a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-files-o"></i>
                            <span>Transactions</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "Transactions")"><i class="fa fa-dollar"></i> <span>All</span></a></li>
                            <li><a href="@Url.Action("AccountTransactions", "Transactions")"><i class="fa fa-dashboard"></i> <span>Transactions by Account</span></a></li>
                            <li><a href="@Url.Action("CategoryTransactions", "Transactions")"><i class="fa fa-dashboard"></i> <span>Transactions by Category</span></a></li>
                        </ul>
                    </li>

                    <li><a href="@Url.Action("Index", "Budgets")"><i class="fa fa-pie-chart"></i> <span>Budgets</span></a></li>
                    <li><a href="@Url.Action("Index", "HouseHolds")"><i class="fa fa-book"></i> <span>HouseHold</span></a></li>

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" id="backgroundimage">
            <!-- Content Header (Page header) -->
            <section class="content-header"></section>

            <h2 style="color:white;padding-left: 85px;">Edit</h2>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-6">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal" id="form-hzntl">
                            <h3 style="color:black;padding:10px 0 0 20px;">Transactions</h3>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:black;padding-left:30px" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @style = "width:60%;color:black;margin-left:20px" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.AccountId, "Account", htmlAttributes: new { @class = "control-label col-md-2", @style = "color:black;padding-left:30px" })
                                <div class="col-md-10">
                                    @Html.DropDownList("AccountId", null, htmlAttributes: new { @class = "form-control", @style = "width:60%;color:black;margin-left:20px" })
                                    @Html.ValidationMessageFor(model => model.AccountId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:black;padding-left:30px" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @style = "width:60%;color:black;margin-left:20px" } })
                                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:black;padding-left:30px" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @style = "width:60%;color:black;margin-left:20px" } })
                                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.EnteredById, "EnteredBy", htmlAttributes: new { @class = "control-label col-md-2", @style = "color:black;padding-left:30px" })
                                <div class="col-md-10">
                                    @Html.DropDownList("EnteredById", null, htmlAttributes: new { @class = "form-control", @style = "width:60%;color:black;margin-left:20px" })
                                    @Html.ValidationMessageFor(model => model.EnteredById, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CategoryId, "Category", htmlAttributes: new { @class = "control-label col-md-2", @style = "color:black;padding-left:30px" })
                                <div class="col-md-10">
                                    @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control", @style = "width:60%;color:black;margin-left:20px" })
                                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Reconciled, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:black;padding-left:30px" })
                                <div class="col-md-10">
                                    <div class="checkbox" style="margin-left:40px;">
                                        @Html.EditorFor(model => model.Reconciled)
                                        @Html.ValidationMessageFor(model => model.Reconciled, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ReconciledAmount, "Reconciled Amount", htmlAttributes: new { @class = "control-label col-md-2", @style = "color:black;padding-left:30px" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ReconciledAmount, new { htmlAttributes = new { @class = "form-control", @style = "width:60%;color:black;margin-left:20px" } })
                                    @Html.ValidationMessageFor(model => model.ReconciledAmount, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.TransactionTypeId, "Transaction Type", htmlAttributes: new { @class = "control-label col-md-2", @style = "color:black;padding-left:30px" })
                                <div class="col-md-10">
                                    @Html.DropDownList("TransactionTypeId", null, htmlAttributes: new { @class = "form-control", @style = "width:60%;color:black;margin-left:20px" })
                                    @Html.ValidationMessageFor(model => model.TransactionTypeId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Void, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:black;padding-left:30px" })
                                <div class="col-md-10">
                                    <div class="checkbox" style="margin-left:40px;">
                                        @Html.EditorFor(model => model.Void)
                                        @Html.ValidationMessageFor(model => model.Void, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-primary" style="margin-left:20px;" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-5"></div>
            </div>
        </div>




        <footer class="main-footer">
            <strong>Kevin Schwert's Financial App</strong>
        </footer>
        <!-- Control Sidebar -->
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>

        <!-- ./wrapper -->
        <!-- jQuery 2.2.3 -->
        <script src="../../plugins/jQuery/jquery-2.2.3.min.js"></script>
        <!-- Bootstrap 3.3.6 -->
        <script src="../../bootstrap/js/bootstrap.min.js"></script>
        <!-- DataTables -->
        <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="../../plugins/datatables/dataTables.bootstrap.min.js"></script>
        <!-- SlimScroll -->
        <script src="../../plugins/slimScroll/jquery.slimscroll.min.js"></script>
        <!-- FastClick -->
        <script src="../../plugins/fastclick/fastclick.js"></script>
        <!-- AdminLTE App -->
        <script src="../../dist/js/app.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="../../dist/js/demo.js"></script>
        <script src="~/basic/js/basic.js"></script>
        <script src="~/basic/js/jquery.simplemodal.js"></script>
        <!-- page script -->
        <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });

            $("#example3").DataTable(
       {
           "order": [[1, "asc "]]
       });
            $('#example4').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
        </script>
</body>
</html>


